body {
	font-family: 宋体 !important;
	background-color: #f2f2f2 !important;
}

.indent {
	text-indent: 2em;
}

.ft-s12 {
	font-size: 12px !important;
}

.ft-s14 {
	font-size: 14px !important;
}

.w-15 {
	width: 15%!important;
}

.w-13 {
	width: 13%!important;
}

.w-12 {
	width: 12%!important;
}

.w-10 {
	width: 10%!important;
}

.w-8 {
	width: 8%!important;
}

.w-5 {
	width: 5%!important;
}

.w-4 {
	width: 5%!important;
}

.p-less {
	padding: .75rem .35rem;
}

.p-small {
	padding: .25rem;
}

.list-header {
	background-color: #6b757c;
	color: white;	
}

.navbar {
	.ivic-header-img {
		width: 80px;
		height: 80%; 
	}
	ul li a {
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 1px;
	}
	ul li a,
	ul li a:after,
	ul li a:before {
  	transition: all .5s;
	}
	ul li a:hover {
  	color: #555;
	}
	/* stroke */
	ul li a {
	  position: relative;
	}
	ul li a:after {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  width: 0%;
	  content: '.';
	  color: transparent;
	  background: #aaa;
	  height: 1px;
	}
	ul li a:hover:after {
	  width: 100%;
	}
}

#ivic-products {
	th {
		text-align: center;
		padding: 0 0.65rem;
		background-color: #b8bfc5 !important;
		border-color: #101215 !important;

		@media only screen and (max-width: 991px) {
			font-size: 12px !important;
		}
	}
	tbody {
		text-algin: center;
	}
	tr {
		line-height: 1.2;
		font-size: 14px !important;
    color: black;

    @media only screen and (max-width: 991px) {
			font-size: 10px !important;
		}

		&.odd {
			background-color: #8885852e !important;
		}
		&.even {
			background-color: #fbfbfb !important;
		}

		td {
			border-color: #101215 !important;
		}
	}
}





.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-j {
  test-align: justify;
}

.jc-c {
  -webkit-box-justify-content: center;
  justify-content: center;
}

.jc-sa {
  -webkit-box-justify-content: space-around;
  justify-content: space-around;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.flexbox-center {
  display: flex;
  flex-direction: column;
  flex-wrap: warp;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hidden {
  display: none;
}

// Margin and Padding helper classes.
@mixin spacer-factory($prop, $alias, $use-important: true){
  $directions: (
    top: t,
    right: r,
    bottom: b,
    left: l
  );

  $spacer: 18px !default;
  $spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4.5),
  ) !default;

  $important: if($use-important == true, " !important", "");
  
  @each $i, $length in $spacers {
    .#{$alias}a-#{$i} {
      #{$prop}: #{$length}#{$important};
    }
    .#{$alias}x-#{$i} {
      #{$prop}-left: #{$length}#{$important};
      #{$prop}-right: #{$length}#{$important};
    }
    .#{$alias}y-#{$i} {
      #{$prop}-top: #{$length}#{$important};
      #{$prop}-bottom: #{$length}#{$important};
    }

    @each $direction, $direction-alias in $directions {
      .#{$alias}#{$direction-alias}-#{$i} {
        #{$prop}-#{$direction}: #{$length}#{$important};
      }
    }
  }
}

@include spacer-factory(margin, m);
@include spacer-factory(padding, p);

